doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    link(rel="icon" href="/favicon.svg")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title} Modern Social

    if user && user.avatar
      meta( property="og:image" content=`https://cdnsocial.katelinlis.xyz/public/clients/${user.id}/${user.avatar}`)

    if description
      meta(name="description" content=`${description}`)
      meta( property="og:description" content=`${description}`)
    else
     meta(name="description" content='Социальная сеть с открытым исходным кодом, которая позволяет пользователям влиять на будущее сайта')
     meta( property="og:description" content='Социальная сеть с открытым исходным кодом, которая позволяет пользователям влиять на будущее сайта')
    if keywords
      meta(name="Keywords" content=`${keywords}`)
    else
      meta(name="Keywords" content="социальная сеть, соцсеть, msn, modern social, opensource, исходный код, открытый исходный код,github, msnsocial, social network")
    style
      include css/index.css
    script
      include js/index.js
    block scripts
    link(rel="stylesheet", type="text/css", href="/css/header.css")

  body
    .container(style="position: relative;background: #F8F5F5;height:800px;")
      include include/header.pug
      block content
      include include/navs.pug
    .footerMobile
      a(href="/")
        img(style="width:30px;" src="/img/footer/newspaper.svg")
      if auth.auth
        a(href=`/user/${auth.user.id}`)
          img(style="width:30px;margin-left:40px" src="/img/footer/user.svg")
      a(href=`/users`)
        img(style="width:38px;margin-left:40px" src="/img/footer/users.svg")
    script
      include js/yandex.js
    noscript
      div
        img(src="https://mc.yandex.ru/watch/84437218" style="position:absolute; left:-9999px;" alt="")
