extends layout.pug
block content
  .content
    .userAvatarAndAbout
      div(style="display: inline-block;")
        span#username #{user.username}
        br
        if user.me
          div#AvatarBox(onmouseout="mouseleave(event)" onmouseover="mouseover(event)")
            if user.avatar
              img#avatarPhoto(alt="user avatar" src=`https://cdnsocial.katelinlis.xyz/public/clients/${user.id}/${user.avatar}`)
            else
              img#avatarPhoto(alt="user avatar" src="https://cdnsocial.katelinlis.xyz/public/UserProfileImage.svg")
            script
              include js/userChangePhoto.js
            #changeAvatarButton
              span#ChangeAvatarButton(onclick="document.getElementById('avatarUpload').click()") change avatar
              input#avatarUpload(style="display: none;" onchange="Upload()" type="file" accept=".jpg, .jpeg, .png" size="5000000")
        else
          div#AvatarBox
            if user.avatar
              img#avatarPhoto(alt="user avatar" src=`https://cdnsocial.katelinlis.xyz/public/clients/${user.id}/${user.avatar}`)
            else
              img#avatarPhoto(alt="user avatar" src="https://cdnsocial.katelinlis.xyz/public/UserProfileImage.svg")
        if auth.auth
          if user.me
            #EditUser
              button(style="width:150px") Обновить информацию
          else
            #friendRequestAndSendMessage
              if user.friend_status.status === 1
                button#ButtonSendRequestFriend(onclick="request_friend()" style="width:150px") remove from friends
              else if user.friend_status.status === 0 && user.friend_status.forme
                button#ButtonSendRequestFriend(onclick="request_friend()" style="width:150px") Accept request
              else if user.friend_status.status === 0 && !user.friend_status.forme
                button#ButtonSendRequestFriend(onclick="request_friend()" style="width:150px") Cancel request
              else
                button#ButtonSendRequestFriend(onclick="request_friend()" style="width:150px") Friend request
              br
              button(style="width:150px") Send Message
      div#aboutblock
        span about
        div(style="min-height: 216px;")
          div
            div Имя
            div(style="margin-left: 20px;") #{user.first_name} #{user.last_name}
          if user.years
            div
              div Возраст
              div(style="margin-left: 20px;") #{user.years} года
          if user.pronouns
            div
              div Местоимения
              div(style="margin-left: 20px;") #{user.pronouns}
          if user.user_location
            div
              div Откуда
              div(style="margin-left: 20px;") #{user.user_location}
          if user.bio
            div
              div bio
              div(style="margin-left: 20px;") #{user.bio}
    .friendsAndWall
      .friends
        div(style="margin-left:8px")
          span#FriendsTitle
            a(href=`/user/${user.id}/friends` style="text-decoration: unset;color: #000000;") Friends
          span#count_friends  #{user.friends && user.friends.count}
          div
            if user.friends
              each friend,index in user.friends.list
                if index <4
                  span#friend
                    a(href=`/user/${friend.id}`)
                      if friend.avatar
                        img(height="30px" width="30px" style=`border-radius: 100%;` src=`https://cdnsocial.katelinlis.xyz/public/clients/${friend.id}/${friend.avatar}`)
                      else
                        img(height="30px" width="30px" style=`border-radius: 100%;`  alt="user avatar" src="https://cdnsocial.katelinlis.xyz/public/UserProfileImage.svg")
                      span(style="font-size:14px;width:30px") #{friend.username.slice(0,6)}..
      div#wall
        span wall
        div
          if user.me
            div
              textarea(name="" id="wallInput" style="width:83%; max-width:83%; max-height:50px")
              button(onclick="WallSend()") send
          #posts
            each post,index in posts
              div
                div #{user.username}
                  span  #{post.time}
                div #{post.text}
block scripts
  style
    include css/user.css
  script
    include js/user.js