extends layout.pug
block content
  .content(style="position: absolute; ;background: #C4C4C4;height: auto;min-height: 700px;z-index:1")
    div(style="text-align:center")
      h3 Users
        span#countusers (#{UsersExport.total})
      #users
        each user, index in UsersExport.users
          span(style="")
            a(href=`/user/${user.id}` style="")
              if user.avatar
                img(height="40px" width="40px" src=`https://cdnsocial.katelinlis.xyz/public/clients/${user.id}/100-${user.avatar}`)
              else
                img(height="40px" width="40px" src="https://cdnsocial.katelinlis.xyz/public/UserProfileImage.svg")
              span #{user.username}
block scripts
  style
    include css/users.css