extends layout.pug
block content
  .content
    span#username #{user.username}
    br
    div#AvatarBox(onmouseout="mouseleave(event)" onmouseover="mouseover(event)")
      #changeAvatarButton
        span#ChangeAvatarButton(onclick="document.getElementById('avatarUpload').click()") change avatar
        input#avatarUpload(style="display: none;" onchange="Upload()" type="file" accept="image/jpeg,image/png")
      if user.avatar
        img#avatarPhoto(alt="user avatar" src=`https://social.katelinlis.xyz/api/static/${user.id}/${user.avatar}`)
      else
        img#avatarPhoto(alt="user avatar" src="https://social.katelinlis.xyz/UserProfileImage.svg")
    if user.me
      #EditUser
        button(style="width:150px") Обновить информацию
    else
      #friendRequestAndSendMessage
        button#ButtonSendRequestFriend(onclick="request_friend()" style="width:150px") Friend request
        br
        button(style="width:150px") Send Message
    .friends
      div(style="margin-left:8px")
        span#FriendsTitle
          a(href=`/user/${user.id}/friends` style="text-decoration: unset;color: #000000;") Friends
        span#count_friends #{user.friends}
        div
          span#friend
            img(src="/friendImg.svg")
            span user
          span#friend
            img(src="/friendImg.svg")
            span user
          span#friend
            img(src="/friendImg.svg")
            span user
          span#friend
            img(src="/friendImg.svg")
            span user
          span#friend
            img(src="/friendImg.svg")
            span user
          span#friend
            img(src="/friendImg.svg")
            span user
block scripts
  style
    include css/user.css
  script
    include js/user.js