extends layout.pug
block content
  .content
    div
      div(style="display: inline-block;")
        span#username #{user.username}
        br
        div#AvatarBox(onmouseout="mouseleave(event)" onmouseover="mouseover(event)")
          if user.me
            #changeAvatarButton
              span#ChangeAvatarButton(onclick="document.getElementById('avatarUpload').click()") change avatar
              input#avatarUpload(style="display: none;" onchange="Upload()" type="file" accept="image/jpeg,image/png")
          if user.avatar
            img#avatarPhoto(alt="user avatar" src=`https://social.katelinlis.xyz/api/static/${user.id}/${user.avatar}`)
          else
            img#avatarPhoto(alt="user avatar" src="https://social.katelinlis.xyz/UserProfileImage.svg")
        if user.me
          #EditUser
            button(style="width:150px") Обновить информацию
        else
          #friendRequestAndSendMessage
            button#ButtonSendRequestFriend(onclick="request_friend()" style="width:150px") Friend request
            br
            button(style="width:150px") Send Message
      div#aboutblock
        span about
        div
          div
            div Имя
            div(style="margin-left: 20px;")  Кейтлин лис
          div
            div Возраст
            div(style="margin-left: 20px;")  22 года
          div
            div Местоимения
            div(style="margin-left: 20px;")  она, ей
          div
            div Откуда
            div(style="margin-left: 20px;")  Шахты, Россия
          div
            div bio
            div(style="margin-left: 20px;")  Программист, увлекается просмотром аниме, косплеем и прогулками в хорошей компании...
    .friends
      div(style="margin-left:8px")
        span#FriendsTitle
          a(href=`/user/${user.id}/friends` style="text-decoration: unset;color: #000000;") Friends
        span#count_friends  #{user.friends.count}
        div
          each friend,index in user.friends.list
            if index <4
              span#friend
                a(href=`/user/${friend.id}`)
                  if friend.avatar
                    img(height="30px" width="30px" style=`border-radius: 100%;` src=`https://social.katelinlis.xyz/api/static/${friend.id}/${friend.avatar}`)
                  else
                    img(height="30px" width="30px" style=`border-radius: 100%;`  alt="user avatar" src="https://social.katelinlis.xyz/UserProfileImage.svg")
                  span(style="font-size:14px;width:30px") #{friend.username.slice(0,6)}..
block scripts
  style
    include css/user.css
  script
    include js/user.js